<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cpit.prototype" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true" >
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".PopService"
            android:enabled="true"
            android:exported="false" >
        </service>
        <service
            android:name=".DownloadImages"
            android:enabled="true"
            android:exported="false" >
        </service>
        <service
            android:name=".UploadEntry"
            android:enabled="true"
            android:exported="false" >
        </service>

        <receiver
            android:name=".PopReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme" >
        </activity>
        <activity
            android:name=".ControlActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme" >
        </activity>

        <receiver
            android:name=".SchedulePop"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="PhilAppPopup" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".UpdateReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="philAppStamp" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
